* {
  font-size: 1.75vw;
  box-sizing: border-box;
}
h1 {
  font-size: 1.75vw;
  text-align: center;
}
body {
  font-size: 1.75vw;
  margin: 1px;
}
.form{
  text-align: center;  
  font-size: 1.75vw;
  border-radius:1px;
  padding:1px 1px;
  background-color:rgba(146, 75, 75, 0);
}
.input{
  font-size: 1.25vw;
  width:90%;
  margin-bottom:5px;
  padding:3px 5px;
  border-radius:2px;
  color:#000000;
  background-color:#c7c7c7;
  border:none;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
.select{
  font-size: 1.25vw;
  width:90%;
  margin-bottom:5px;
  padding:3px 5px;
  border-radius:2px;
  color:#000000;
  background-color:#c7c7c7;
  border:none;
  height:30px;
}
.label{ 
  font-size: 1.75vw;
  
  display:block;
}
.button{
  text-align: center;  
  width:95%;
  height: 5vw;
  background-color:#ff00ff;
  color:rgb(5, 5, 5);
}
.button:hover{
  background-color:#640064;
  color:rgb(255, 253, 253);
}
.row{
  font-size: 1.75vw;
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:5px;
}
.cell{
  font-size: 1.75vw;
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
.columns {
  text-align: center;  
  float: left;
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  font-size: 1.75vw;
  content: "";
  display: table;
  clear: both;
}
